#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display: grid;
  grid-template-areas: "nav main";
  grid-template-columns: 300px 1fr;
  width: 100%;
}

nav {
  grid-area: nav;
}

main {
  grid-area: main;
  min-width: 100%;
}

.capitalize {
  text-transform:capitalize;
}