.main-grid {
  display: grid;
  grid-template-areas: 
    "top top"
    "left right";
  width: 100%;
  height: 100vh;
}

.top {
  grid-area: top;
  background-color: red;
  width: 100%;
  height: 100px;
}

.left {
  grid-area: left;
  width: 100%;
  height: 100%;
  background-color: green;
}

.right {
  grid-area: right;
  width: 100%;
  height: 100%;
  background-color: blue;
}

.top:hover, .left:hover, .right:hover {
  background-color: yellow;
}