#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.animate {
  z-index: 0;
  animation: logo-spin infinite 20s linear;
}

.todo-input {
  z-index: 10;
}

.todo-list {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid green;
}

.todo-list:nth-child(2n) {
  background-color: palegreen;
}

.todo-list:hover {
  background-color: aqua;
}
